<% layout('layouts/boilerplate') %> 
<form action="/<%= comment.id %>?_method=PATCH" method="post">
    <div class="card m-4">
        <div class="card-header">
        Change your comment!
        </div>
        <div class="card-body">
            <textarea class="card-text" id="comment" name="comment" cols="30" rows="50" style="width: 400px; height: 200px">
                <%= comment.comment %>
            </textarea>
            <hr class="border border-light border-0.1 opacity-50">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

