<% layout('layouts/boilerplate.ejs') %> 
    <form action="/" method="post">
        <div class="card m-4">
            <div class="card-header">
            This is the new comment!
            </div>
            <div class="card-body">
                <label class="card-title" for="username">Enter your username</label>
                <input class="card-text" type="text" id="username" name="username">
                <hr class="border border-light border-0.1 opacity-50">
                <label class="card-title" for="comment">Say something:</label>
                <hr class="border border-light border-0.1 opacity-50">
                <textarea class="card-text" id="comment" name="comment" cols="30" rows="50" style="width: 400px; height: 200px"></textarea>
                <hr class="border border-light border-0.1 opacity-50">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    

   